.Rproj.user
.Rhistory
.RData
.Ruserdata
.env
server/node_modules/

fetcher/.DS_Store
tipologias/.DS_Store

fetcher/credenciais/config
fetcher/credenciais/id_rsa
fetcher/credenciais/id_rsa.pub
fetcher/credenciais/known_hosts
